<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Control display</title>
</head>



<body>
	<h1>ACP Brevet Times</h1>
	<table class="control_time_table">
      <tr>
		  <th>     Km  </th>
		  <th>     Open Times  </th>
		  <th>     Close TImes  </th>
      </tr>
      
  
    {% for item in items %}
     	<tr>
		  <th> {{ item.km }} </th>
		  <th> {{ item.opentime}} </th>
	  	  <th> {{ item.closetime }} </th>
	  	</tr>
	{% endfor %}
	
	</table>
</html>
